* text eol=lf
*.bat text eol=crlf
*.patch text eol=lf
*.java text eol=lf
*.gradle text eol=crlf
*.png binary
*.gif binary
*.exe binary
*.jar binary
*.lzma binary
*.zip binary
*.pyd binary
*.cfg text eol=lf
*.jks binary

*.dll binary
*.so binary
*.dylib binary

*.efkefc binary
*.efkmat binary
*.efkmatd binary
*.efkmodel binary
